{% extends "../base.html" %}

{% block pagetitle %}
Úvodní stránka
{% endblock %}

{% block content %}
    <h2 class="velky">Úvodní stránka</h2>

    <p id="prvni">This is a <strong>paragraph</strong>.</p>

    <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus luctus egestas leo. 
        Phasellus et lorem id felis nonummy placerat. Nullam sapien sem, ornare ac, nonummy non, 
        lobortis a enim. <span class="podtrh">Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est.</span> 
        Pellentesque arcu. In laoreet, magna id viverra tincidunt, sem odio bibendum justo, 
        vel imperdiet sapien wisi sed libero. Etiam commodo dui eget wisi. Nam quis nulla. Lorem 
        ipsum dolor sit amet, consectetuer adipiscing elit. Donec iaculis gravida nulla. Duis viverra 
        diam non justo. In dapibus augue non sapien. Class aptent taciti sociosqu ad litora torquent 
        per conubia nostra, per inceptos hymenaeos. Ut tempus purus at lorem. Nemo enim ipsam voluptatem 
        quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui 
        ratione voluptatem sequi nesciunt. <span class="podtrh">Aliquam in lorem sit amet leo accumsan lacinia.</span>
        Fusce wisi.
    </p>

    <div>
        Bla bla bla
    </div>

    <p id="modry">Bla bla <br /> bla bla</p>
    <p class="velky">Bla bla bla bla</p>
    <p>Bla bla bla bla</p>
    <p id="cerveny" class="velky">Bla bla bla bla</p>

    <hr />
    <ul>
        <li>odrazka 1</li>
        <li>odrazka 2</li>
        <li><strong>odrazka 2</strong></li>
        <li><strong>odrazka 2</strong></li>
        <li>odrazka 2</li>
        <li>odrazka 2</li>
        <li>odrazka 2</li>
        <li>odrazka 12</li>
    </ul>

    <a href="https://www.google.com">Google</a>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Kralupy_od_Lob%C4%8De.jpg/250px-Kralupy_od_Lob%C4%8De.jpg" />
{% endblock %}