p { /* 1 */
    color: red;
}

p { /* 1 */
    color: blue;
}

.velky { /* 10 */
    color: green;
}

#cerveny { /* 100 */
    color: red;
}

p.velky strong#cerveny { /* 1+10+1+100=112 */
    color: black;
}