{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>
        {% block pagetitle %}{% endblock %} | 
        Moje knihovna
    </title>
    <link href="{% static 'styl.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Moje knihovna</h1>
    <hr/>
    {% block content %}
    {% endblock %}
</body>
</html>